.privacy-container {
  max-width: 80%;
  margin: 50px auto;
  padding: 30px;
  background: #000000;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.privacy-container h1 {
  font-size: 2.5rem;
  color: #ffffff;
  text-align: center;
}

.privacy-container p {
  font-size: 1.1rem;
  color: #ffffff;
  line-height: 1.8;
}
.content p{
    padding-left: 25px;
} 

.privacy-container h3 {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #007bff;
}

.privacy-container strong {
  color: #ffffff;
}

.privacy-container a {
  color: #007bff;
  text-decoration: none;
}

.privacy-container a:hover {
  text-decoration: underline;
}
